:root {
    --primary-color: #845ec2;
    --primary-color-darker: #663ea7;

    --secondary-color: #00D2FC;
    --secondary-color-darker: #009efa;

    --expo: #4FFBDF;

    --background-color: #dfeef6;

    /*CORES PARA FONTES*/
    --color-light: #f9f6fd; /*COR DA MAIN*/
    --color-darker: #0c001f; 
}

main {

    margin: 50px auto 50px auto;
    width: 70%;
    background: var(--color-light);
    box-shadow: 0px 0px 5px -1px var(--secondary-color);
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: sans-serif;
}

p, span, a, input{
    color: var(--color-darker);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--color-light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--primary-color-darker);
}

.container {
    margin-top: 50px;

    /* background: var(--background-color); */

    padding: 10px;
    min-height: 50vh;
    margin-bottom: 50px;
}
