.container h1 {
    text-align: center;
    font-size: 4rem;  
    color: var(--secondary-color);  
}

.form-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


option{
    padding: 10px;
}
.button-search{
    cursor: pointer;
    background: var(--primary-color);
    border: 0.1rem solid var(--primary-color-darker);
    transition: 0.2;
    font-weight: bold;
    color: var(--color-light);
    height: 2rem;
    width: 9rem;
    border-radius: 0.2rem;
}

.button-search:hover{
    background: var(--primary-color-darker);
}
